#red,
#green,
#blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}

#swatch {
  width: 390px;
  height: 60px;
  margin-top: 5px;
  margin-left: 0px;
  background-image: none;
}

#red .ui-slider-range {
  background: #ef2929;
}

#red .ui-slider-handle {
  border-color: #ef2929;
}

#green .ui-slider-range {
  background: #8ae234;
}

#green .ui-slider-handle {
  border-color: #8ae234;
}

#blue .ui-slider-range {
  background: #729fcf;
}

#blue .ui-slider-handle {
  border-color: #729fcf;
}

.calc2 input[type=text] {
  width: 390px;
  padding-left: 8px;
}

.calc2 input[type=number] {
  width: 70px;
  padding-left: 8px;
}

@media all and (max-width: 576px) {
  #swatch {
    width: 258px;
  }

  .calc2 button {
    padding: 7px 4px;
    margin-bottom: 10px;
  }

  .calc2 input[type=text],
  .calc2 input[type=number] {
    padding: 5px;
    font-size: x-large;
    width: 258px;
  }

  .calc2 {
    width: 100%;
    padding: 20px;
  }

  .calc2 tr:nth-child(4) td {
    margin-top: -5px;
    padding-bottom: 8px;
  }

  .calc2 td:nth-child(3) {
    display: none;
  }
}

@media all and (min-width: 577px) {
  .calc2 tr:nth-child(5) {
    line-height: 60px;
  }
}
