.icon.icon-flip-horizontal {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1)
}

.icon.icon-flip-horizontal {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1)
}

.icon.icon-flip-vertical {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1)
}

.icon.icon-rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.icon.icon-rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.icon.icon-rotate-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg)
}

.icon.icon-stack {
  background-color: transparent;
  position: relative;
  width: 2em;
  height: 2em
}

.icon.icon-stack>.icon.icon-stack-1x,
.icon.icon-stack-2x {
  position: absolute;
  width: 1em;
  height: 1em;
  top: .5em;
  left: .5em
}

.icon.icon-stack>.icon.icon-stack-2x {
  width: 2em;
  height: 2em;
  top: 0;
  left: 0
}

.icon.icon-spin {
  animation: spin 2s linear infinite
}

.icon.icon-spin.icon-spin-reverse {
  animation-direction: reverse
}

.icon.icon-spin.icon-spin-ease {
  animation-timing-function: ease
}

.icon.icon-pulse {
  -webkit-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8)
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.icon.icon-black {
  background-color: var(--black)
}

.icon.icon-primary {
  background-color: var(--primary)
}

.icon.icon-secondary {
  background-color: var(--secondary)
}

.icon.icon-success {
  background-color: var(--success)
}

.icon.icon-info {
  background-color: var(--info)
}

.icon.icon-warning {
  background-color: var(--warning)
}

.icon.icon-danger {
  background-color: var(--danger)
}

.icon.icon-light {
  background-color: var(--light)
}

.icon.icon-dark {
  background-color: var(--dark)
}

.icon-hover-white:hover>.icon {
  background-color: var(--white, #ffffff)
}

.icon.icon-fw {
  width: 1.28571429em;
  text-align: center
}

.icon.icon-cog {
  -webkit-mask-image: url(../img/icons/cog.html);
  mask-image: url(../img/icons/cog.html)
}

.icon.icon-ban {
  -webkit-mask-image: url(../img/icons/ban.html);
  mask-image: url(../img/icons/ban.html)
}

.icon.icon-bell {
  -webkit-mask-image: url(../img/icons/bell.html);
  mask-image: url(../img/icons/bell.html)
}

.icon.icon-calendar {
  -webkit-mask-image: url(../img/icons/calendar.html);
  mask-image: url(../img/icons/calendar.html)
}

.icon.icon-check-circle {
  -webkit-mask-image: url(../img/icons/check-circle.html);
  mask-image: url(../img/icons/check-circle.html)
}

.icon.icon-circle-notch {
  -webkit-mask-image: url(../img/icons/circle-notch.html);
  mask-image: url(../img/icons/circle-notch.html)
}

.icon.icon-copy {
  -webkit-mask-image: url(../img/icons/copy.html);
  mask-image: url(../img/icons/copy.html)
}

.icon.icon-envelope-open {
  -webkit-mask-image: url(../img/icons/envelope-open.html);
  mask-image: url(../img/icons/envelope-open.html)
}

.icon.icon-exclamation-circle {
  -webkit-mask-image: url(../img/icons/exclamation-circle.html);
  mask-image: url(../img/icons/exclamation-circle.html)
}

.icon.icon-exclamation-triangle {
  -webkit-mask-image: url(../img/icons/exclamation-triangle.html);
  mask-image: url(../img/icons/exclamation-triangle.html)
}

.icon.icon-info {
  -webkit-mask-image: url(../img/icons/info.html);
  mask-image: url(../img/icons/info.html)
}

.icon.icon-info-circle {
  -webkit-mask-image: url(../img/icons/info-circle.html);
  mask-image: url(../img/icons/info-circle.html)
}

.icon.icon-link {
  -webkit-mask-image: url(../img/icons/link.html);
  mask-image: url(../img/icons/link.html)
}

.icon.icon-minus {
  -webkit-mask-image: url(../img/icons/minus.html);
  mask-image: url(../img/icons/minus.html)
}

.icon.icon-plus {
  -webkit-mask-image: url(../img/icons/plus.html);
  mask-image: url(../img/icons/plus.html)
}

.icon.icon-spinner {
  -webkit-mask-image: url(../img/icons/spinner.html);
  mask-image: url(../img/icons/spinner.html)
}

.icon.icon-times {
  -webkit-mask-image: url(../img/icons/times.html);
  mask-image: url(../img/icons/times.html)
}

.icon.icon-times-circle {
  -webkit-mask-image: url(../img/icons/times-circle.html);
  mask-image: url(../img/icons/times-circle.html)
}

.icon.icon-refresh {
  -webkit-mask-image: url(../img/icons/refresh.html);
  mask-image: url(../img/icons/refresh.html)
}

.icon.icon-upload {
  -webkit-mask-image: url(../img/icons/upload.html);
  mask-image: url(../img/icons/upload.html)
}

.icon.icon-retweet {
  -webkit-mask-image: url(../img/icons/retweet.html);
  mask-image: url(../img/icons/retweet.html)
}

.icon.icon-check {
  -webkit-mask-image: url(../img/icons/check.html);
  mask-image: url(../img/icons/check.html)
}

.icon.icon-files-o {
  -webkit-mask-image: url(../img/icons/files-o.html);
  mask-image: url(../img/icons/files-o.html)
}

.icon.icon-pencil {
  -webkit-mask-image: url(../img/icons/pencil.html);
  mask-image: url(../img/icons/pencil.html)
}

.icon.icon-chrome {
  background: url(../img/icons/chrome.html)
}

.icon.icon-firefox {
  background: url(../img/icons/firefox.html)
}

.icon.icon-safari {
  background: url(../img/icons/safari.html)
}

.icon.icon-internet-explorer {
  background: url(../img/icons/internet-explorer.html)
}

.icon.icon-microsoft-edge {
  background: url(../img/icons/microsoft-edge.html)
}

.icon.icon-opera {
  background: url(../img/icons/opera.html)
}

.icon.icon-android {
  background: url(../img/icons/android-os.html)
}

.icon.icon-ios-logo {
  background: url(../img/icons/ios-logo.html)
}

.icon.icon-menu {
  -webkit-mask-image: url(../img/icons/menu.html);
  mask-image: url(../img/icons/menu.html)
}
