h1 {
  font-size: 2.5rem !important;
  font-weight: 400 !important;
  margin: 0;
  padding-bottom: 10px;
}
h2 {
  font-size: 2rem !important;
}
h3 {
  font-size: 1.75rem !important;
}
h4 {
  font-size: 1.5rem !important;
}
h5 {
  font-size: 1.25rem !important;
}
h6 {
  font-size: 1rem !important;
}
.inc-line-height {
  line-height: 1.5 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: arial, verdana, helvetica, "sans-serif";
}
.h1-c {
  color: #000;
}
.h1-c:hover {
  color: #000;
  text-decoration: none;
}
textarea#input-text,
textarea#response,
textarea#result {
  font-size: 1.25em !important;
  height: 350px;
  width: 99%;
  display: block;
  font-family: josefin sans;
}
.textarea-small {
  height: 150px !important;
}
.border-bottom-secondary {
  border-bottom: 6px solid #23272b;
  margin-bottom: 10px;
}
.footer_links>ul {
  padding-left: 3px !important;
}
.footer_links ul>li {
  list-style: none;
}
.footer_links li>a,
.lc {
  color: darkgrey !important;
}
.footer_links li>a,
.lc:hover {
  color: #212529 !important;
  text-decoration: none !important;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: #fff;
  cursor: inherit;
  display: block;
}
.alertBox {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  display: block;
  width: 200px;
  z-index: 5000;
}
.btn,
.pointer {
  cursor: pointer;
}
.navigation-font {
  font-size: 16px !important;
}
.additional_html {
  padding-left: 2rem;
  padding-right: 2rem;
}
.additional_html>p {
  margin: 0;
}
.additional_html>h2 {
  font-size: 1.4rem;
}
.additional_html>p .additional_html>li {
  font-size: 0.8rem;
}
.additional_html>ul {
  padding-left: none !important;
}
.additional_html>li {
  padding-left: none !important;
}
