
include utils.pug

input(type='hidden' name='_csrf' value=csrfToken)
+field('Title', 'title', book.title)
+field('Author', 'author', book.author)
+field('Release Date', 'releaseDate', book.releaseDate)
+field('Page Count', 'pageCount', book.pageCount)
+field('Publisher', 'publisher', book.publisher)
