#drop-area {
  width: 550px;
  height: 200px;
  background-color: #3866C3;
  border: 3px dashed white;
}
.drop-text {
  margin-top: 70px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
#drop-area img {
  max-width: 200px;
}
